{% extends 'layout.html.twig' %}
{% block content %}
    <div class="grid-portfolio" id="portfolio">
        <div style="color:white;background:black; width:100%; text-align: center;">
            <h1>PRODUCTOS</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/camiseta.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
                                    <h1 style="color:black">Classic <em>t-shirt</em></h1>
                                    <p style="color:#FF0000">100% algodón | 17,99€</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/camiseta.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/pantalones.jpg" data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
                                    <h1 style="color:black">CARGO <em>TROUSERS</em></h1>
                                    <p style="color:#FF0000">98% ALGODÓN | 24,99€</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/pantalones.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="img/zapas1.jpg"  data-lightbox="image-1"><div class="hover-effect">
                                <div class="hover-content">
                                    <h1 style="color:black">AIR MAX 270 REACT <em>SNEAKERS</em></h1>
                                    <p style="color:#FF0000">Nike | 19,99€</p>
                                </div>
                            </div></a>
                            <div class="image">
                                <img src="img/zapas1.jpg">
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="js/vendor/bootstrap.min.js"></script>
    
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
{% endblock %}